@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400&family=Oswald:wght@300&display=swap');

body {
    font-family: 'Noto Sans JP', sans-serif;
    padding: 0 2%;
    margin: 0;
}

nav {
    width: 100%;
    padding: 10px;
    z-index: 999;
    transition: 0.3s linear;
    display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	background-color: white;
	position: sticky;
	top: 0;
}

nav .profile {
    display: flex;
    align-items: center;
}

nav .profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

nav .profile h1 {
    margin-left: 10px;
    font-size: 15px;
}

nav .profile h1 a {
	color: black;
	text-decoration-line: none;    
}
nav .profile h1 :visited{
	color: #000;
}
nav ul {
    display: flex;
    list-style-type: none;
}

nav ul li {
    margin-left: 20px;
    cursor: pointer;
    border-bottom: 1px solid #fff;
}

nav ul li:hover {
    border-bottom-color: #000;
}

nav ul li a{
    color: black;
	text-decoration-line: none;    
}
nav ul li a :hover {
	color: black;
	text-decoration-line: none;    
}
footer {
    margin-top: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
    background-color: #000;
    color: white;
    margin-bottom: 2%;
    margin: 48;
}

footer .colonne p {
    font-size: 12px;
    color: #ccc;
    cursor: pointer;
}

footer .colonne p:hover {
    color: #fff;
}

@media screen and (max-width: 700px) {
    nav {
        justify-content: center;
    }

    nav ul {
        display: none;
    }

    .page-content header {
        margin-top: 10%;
        max-width: 100%;
    }

    .page-content .projects-section {
        margin-top: 15%;
    }

    .page-content .projects-section h1 {
        font-size: 1.5em;
    }

    .page-content .projects-section .project {
        margin-right: 0;
        margin-bottom: 20px;
        max-width: 100%;
    }

    .page-content .projects-section .project .description {
        font-size: 13px;
    }

    footer {
        justify-content: flex-start;
    }

    footer .column {
        width: 80%;
    }

}



.inner-width {
    max-width: 1300px;
    margin: auto;
    padding: 0 40px;
}

.cursus {
    padding: 150px 0 100px 0;
    background-color: #f1f1f1;

}

.section-title {
    
    text-align: center;
    margin-bottom: 80px;
    position: relative;
    font-size: 26px;
    padding-bottom: 20px;
    color: black;
}

.section-title::before {
    content: "";
    position: absolute;
    width: 80px;
    height: 4px;
    background-color: black;
    bottom: 0;
    left: calc(50% - 40px);
}

.section-title::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 10px;
    background-color: #48dbfb;
    border: 4px solid #f1f1f1;
    left: calc(50% - 12px);
    bottom: -7px;
}
.time-line {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

* {
    margin: 0;
    padding: 0;

    text-decoration: none;
    font-family: "Ubuntu", sans-serif;

    box-sizing: border-box;
}

.bloc {
    width: calc(50% - 20px);
    background-color: #ffffff;
    border: 1px solid #dddddd;
    margin: 10px 0;
    padding: 30px;
    position: relative;
}

.bloc::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 120%;
    background-color: #dddddd;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
}

.bloc::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: #48dbfb;
    left: -28px;
    top: 30px;
    border-radius: 50%;
}

.bloc h3 {
    font-size: 16px;
    margin: 10px 0;
}

.bloc p {
    font-size: 15px;
    color: #444444;
}
.skills {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .skill {
    width: calc(50% - 20px);
    margin: 15px 0;
    padding: 15px;
  }
  
  .skill-info {
    display: flex;
    justify-content: space-between;
  }
  
  .skill-bar {
    height: 3px;
    background-color: #dddddd;
    margin-top: 14px;
    position: relative;
  }
  
  .skill-bar::after {
    content: "";
    height: 6px;
    position: absolute;
    background-color: #48dbfb;
    bottom: 0;
  }
  .html::after {
    width: 90%;
  }
  
  .css::after {
    width: 80%;
  }
  
  .js::after {
    width: 60%;
  }
  
  .python::after {
    width: 60%;
  }
  
  .angular::after {
    width: 50%;
  }
  
  .mysql::after {
    width: 50%;
  }